[build]
publish = "public"
command = "npm run build"

[build.environment]

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
for = "/vendor/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"


[[plugins]]
package = "@netlify/plugin-sitemap"
