---
import Layout from "../layouts/Layout.astro";
import RoundPicture from "../components/RoundPicture.astro";
import Gallery from "../components/Gallery.astro";
import sonja from "../images/sonja_portrait.jpg";
---

<style>
  main {
    background: var(--brand-background-color);
    color: var(--brand-text-color);
    display: flex;
    justify-content: center;
  }

  article {
    max-width: var(--main-content-max-width);
    width: 100%;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: center;
    justify-content: center;
    & div {
      max-width: 45em;
    }
  }
</style>

<Layout title="KJP Meerbusch">
  <Gallery />
  <main>
    <article>
      <RoundPicture src={sonja} size={250} alt="Sonja" />
      <div>
        <p>
          Herzlich willkommen in der psychotherapeutischen Praxis für Kinder,
          Jugendliche und junge Erwachsene in Meerbusch.
        </p>
        <p>
          Unser Team besteht aus staatlich approbierten Kinder- und
          Jugendlichenpsychotherapeuten für Verhaltenstherapie und
          tiefenpsychologisch fundierter Therapie. Wir bieten ein umfassendes
          Diagnostik- und Behandlungsangebot an, welches auf neuesten
          wissenschaftlich evaluierten Methoden beruht.
        </p>
        <p>Wir freuen uns dich/Sie kennen zu lernen.</p>
      </div>
    </article>
  </main>
</Layout>
