---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import sonja from "../images/sonja_startseite.jpeg";
import Picture from "astro/components/Picture.astro";
---

<style>
  main {
    background: var(--brand-background-color);
    color: var(--brand-text-color);
    display: flex;
    justify-content: center;
  }

  article {
    max-width: var(--main-content-max-width);
    width: 100%;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: center;
    justify-content: center;
  }

  .roundPicture img {
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  article div {
    max-width: 45em;
  }
</style>

<Layout title="KJP Meerbusch">
  <Gallery />
  <main>
    <article>
      <div class="roundPicture">
        <Picture src={sonja} width={600} height={600} alt="Sonja" />
      </div>
      <div>
        <p>
          Liebe Kinder und Jugendliche,<br />
          sehr geehrte Eltern,
        </p>
        <p>
          herzlich willkommen in unserer psychotherapeutischen Praxis für Kinder
          und Jugendliche. Wir freuen uns sehr euch/Sie bei uns in Meerbusch
          Büderich willkommen zu heißen. Unser Team besteht aus staatlich
          approbierten Kinder- und Jugendlichenpsychotherapeut:innen für
          Verhaltenstherapie. Wir bieten ein umfassendes Behandlungsangebot an,
          welches auf neuesten wissenschaftlichen Methoden beruht. Uns als
          Therapeut:innen ist es sehr wichtig, dass ihr euch und Sie sich bei
          uns wohlfühlen. Zugleich stellen wir höchste fachliche Ansprüche an
          unsere Arbeit.
        </p>
        <p>Wir freuen uns dich/Sie kennen zu lernen.</p>
        <p>Dr. Sonja Könnecke und Kolleg:innen</p>
      </div>
    </article>
  </main>
</Layout>
