---
import Layout from "../layouts/Layout.astro";
---

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  h1 + ul {
    margin-block-start: 4rem;
  }

  main {
    margin: auto;
    max-width: min(100%, var(--main-content-max-width));
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  li {
    background-color: var(--brand-background-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1em 1em;
    text-align: center;
  }

  @media (min-width: 1000px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<Layout title="KJP Meerbusch | Leistungen">
  <main>
    <h1>Leistungen</h1>
    <ul>
      <li>Verhaltenstherapie</li>
      <li>Systemische Beratung</li>
      <li>Einzel- und Gruppentherapie</li>
      <li>Onlinetherapie</li>
      <li>Elternberatung</li>
      <li>Traumatherapie (EMDR)</li>
      <li>Autismus</li>
      <li>Therapie auf Englisch</li>
      <li>Leistungsdiagnostik (IQ-Testung)</li>
    </ul>
  </main>
</Layout>
