---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

const imagesCollection = await getCollection("gallerie");

const formats = ["webp", "jpg"];
---

<style>
  main {
    max-width: min(100%, var(--main-content-max-width));
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  main section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  main section :global(picture) {
    width: fit-content;
  }

  main section :global(img) {
    object-fit: cover;
  }

  picture img {
    width: 300px;
    height: 300px;
  }
</style>

<Layout title="KJP Meerbusch">
  <main>
    <h1>Praxis</h1>
    <section>
      {
        imagesCollection.map((entry) => (
          <a href={entry.data.srcLandscape.src}>
            <Picture
              src={entry.data.srcLandscape}
              alt={entry.data.alt}
              decoding="async"
              loading="eager"
              width={800}
              quality={75}
              height={800}
              formats={formats}
            />
          </a>
        ))
      }
    </section>
  </main>
</Layout>
