---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import type { GetImageResult } from "astro";

const quality = 80;

const formats = ["webp", "jpg"] as const;
const widths = [300, 600, 900, 1200, 1500, 1800, 2100, 2400] as const;

const landscapeSizes = "(min-width: 481px)";

const imagesCollection = await getCollection("gallerie");

const results = imagesCollection.map(async (entry) => {
  const {
    data: { srcLandscape, alt },
  } = entry;

  const landscape = await Promise.all(
    formats.map((format) =>
      getImage({
        format,
        widths,
        quality,
        src: srcLandscape,
      }),
    ),
  );

  const fallbackImage = await getImage({
    format: "jpg",
    widths,
    quality,
    src: srcLandscape,
  });

  return {
    landscape,
    fallbackImage,
    alt,
  };
});

const images: {
  landscape: GetImageResult[];
  fallbackImage: GetImageResult;
  alt: string;
}[] = await Promise.all(results);
---

<style>
  .swiper {
    max-width: 100%;
    max-height: 550px;
    width: 100%;
    aspect-ratio: 16/9
  }

  picture {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div class="swiper">
  <div class="swiper-wrapper">
    {
      images.map((image) => {
        const { landscape, fallbackImage, alt } = image;
        return (
          <div class="swiper-slide">
            <picture>
              {landscape.map((getImageResult) => (
                <source
                  media={landscapeSizes}
                  srcset={getImageResult.srcSet.attribute}
                  {...getImageResult.attributes}
                />
              ))}
              <img src={fallbackImage.src} alt={alt} />
            </picture>
          </div>
        );
      })
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/autoplay";
  import "swiper/css/pagination";
  new Swiper(".swiper", {
    modules: [Autoplay, Pagination],
    autoplay: {
      delay: 3000,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    speed: 1000,
    loop: true,
  });
</script>
