---
import { Picture } from "astro:assets";
import Menu from "feather-icons/dist/icons/menu.svg?raw";
import logo from "../images/logo.jpg";

const routes = [
  { text: "Praxis", href: "/praxis" },
  { text: "Therapeuten", href: "/therapeuten" },
  { text: "Therapie", href: "/therapie" },
  { text: "Diagnostik", href: "/diagnostik" },
  { text: "Kontakt & Anfahrt", href: "/kontakt" },
  { text: "Karriere", href: "/karriere" },
];
---

<style>
  nav {
    background: white;
  }

  header a,
  a:visited {
    font-weight: 600;
    text-decoration: none;
  }

  .logoAndButton {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .logoAndButton img {
    margin-left: 1em;
  }

  .logoAndButton button {
    margin-right: 1em;
  }

  header {
    max-height: 80px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    border-bottom: 1px solid var(--border-color-secondary);
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;
    color: inherit;
    cursor: pointer;
    gap: 0.5em;
    background: none;
    border: none;
    font-size: inherit;
  }

  menu {
    list-style: none;
  }

  .logo {
    max-width: 150px;
    max-height: 80px;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 401px) {
    .logo {
      max-width: 200px;
    }
  }

  @media (min-width: 1201px) {
    .logo {
      max-width: 200px;
    }

    button[aria-haspopup="menu"] {
      display: none;
    }

    nav menu {
      display: flex;
      gap: 1.5em;
    }

    nav li {
      display: inline-block;
    }
  }

  @media (min-width: 1901px) {
    header {
      padding: 0 25vh;
    }
  }

  @media (max-width:300px) {
    .logo {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    nav li {
      width: 100%;
      padding: 0.5em 0;
      border-bottom: 1px solid var(--border-color-secondary);
    }

    nav li:last-child {
      border-bottom: none;
    }

    nav[aria-expanded="true"] {
      width: 100%;
      order: 3;
    }

    nav:not([aria-expanded="true"]) {
      display: none;
    }
  }
</style>

<script>
  const openMenuButton = document.querySelector("[aria-haspopup=menu]")!;
  const nav = document.querySelector("header nav")!;
  openMenuButton.addEventListener("click", () => {
    const isOpen = nav.getAttribute("aria-expanded") === "true";
    if (isOpen) {
      nav.removeAttribute("aria-expanded");
      return;
    }
    nav.setAttribute("aria-expanded", "true");
  });
</script>

<header>
  <div class="logoAndButton">
    <a href="/">
      <div class="logo">
        <Picture src={logo} width={1500} quality="max" alt="Logo" />
      </div>
    </a>
    <button aria-haspopup="menu" aria-label="Menü öffnen" type="button"
      ><Fragment set:html={Menu} /> Menü</button
    >
    <nav id="desktop" aria-label="Menü">
      <menu>
        {
          routes.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </menu>
    </nav>
  </div>
</header>
